body {
	font-size: 16px;
}

form,
fieldset {
	border-radius: 0.25rem;
}

form {
	padding: 1rem;
	box-sizing: border-box;
	border: 1px solid #a0a0a0;
}

fieldset {
	padding: 1rem;
	border: 1px solid #ccc;
}

legend {
	font-weight: 600;
}

button {
	padding: 0.5rem;
}
