.disable-selection {
	user-select: none;
}

form .header {
	margin: 0;
}

form .form-group:not(:last-child) {
	margin-bottom: 1rem;
}

form .form-group-element:not(:first-child) {
	margin-left: 0.25rem;
}

form .form-label-grid {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 0.5rem;
}

form .form-label-grid > label {
	line-height: 2;
}
